.zh {
  font-family: "FangSong" !important;
  &.v-application {
    .text-h1,
    .text-h2,
    .text-h3,
    .text-h4,
    .text-h5,
    .text-h6,
    .text-headline,
    .text-title,
    .text-subtitle-1,
    .text-subtitle-2,
    .text-body-1,
    .text-body-2,
    .text-button,
    .text-caption,
    .text-overline {
      font-family: "FangSong" !important;
    }
    .text-h6,
    strong {
      font-weight: 900 !important;
    }
  }
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

u {
  padding-bottom: 1px;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.w-90 {
  width: 90%;
}
.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}
.cur-pointer {
  cursor: pointer;
}
.cur-pointer:hover {
  opacity: 0.7;
}
.required label::after {
  content: " *";
  color: red;
  position: relative;
  top: -3px;
}
